In [2]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [83]:
#Retrieve the data from Yahoo
#https://finance.yahoo.com/quote/%5EHSI/history?p=%5EHSI
#put the data into DataHandling

Flnb_HSI="D:\\DataHandling\\HSI.csv" 
Flnb_VIX="D:\\DataHandling\\VIX.csv"

In [84]:
#Get the data from CSV  
data_A = pd.read_csv(Flnb_HSI)
data_B = pd.read_csv(Flnb_VIX)

In [85]:
#Merge two data set 
data_M =data_A.merge(data_B, left_on='Date', right_on='Date', how='inner')
data_M.fillna(0)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Date</th>
      <th>Open_x</th>
      <th>High_x</th>
      <th>Low_x</th>
      <th>Close_x</th>
      <th>Adj Close_x</th>
      <th>Volume_x</th>
      <th>Open_y</th>
      <th>High_y</th>
      <th>Low_y</th>
      <th>Close_y</th>
      <th>Adj Close_y</th>
      <th>Volume_y</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2007-02-21</td>
      <td>20649.720703</td>
      <td>20677.289063</td>
      <td>20540.320313</td>
      <td>20651.419922</td>
      <td>20651.419922</td>
      <td>7.499889e+08</td>
      <td>10.480000</td>
      <td>10.530000</td>
      <td>10.170000</td>
      <td>10.200000</td>
      <td>10.200000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2007-02-22</td>
      <td>20748.460938</td>
      <td>20829.660156</td>
      <td>20740.330078</td>
      <td>20809.230469</td>
      <td>20809.230469</td>
      <td>7.953014e+08</td>
      <td>10.230000</td>
      <td>10.520000</td>
      <td>10.010000</td>
      <td>10.180000</td>
      <td>10.180000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2007-02-23</td>
      <td>20844.250000</td>
      <td>20844.250000</td>
      <td>20547.439453</td>
      <td>20711.650391</td>
      <td>20711.650391</td>
      <td>8.740840e+08</td>
      <td>10.410000</td>
      <td>10.700000</td>
      <td>10.360000</td>
      <td>10.580000</td>
      <td>10.580000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2007-02-26</td>
      <td>20520.449219</td>
      <td>20581.419922</td>
      <td>20474.410156</td>
      <td>20507.949219</td>
      <td>20507.949219</td>
      <td>7.823470e+08</td>
      <td>10.590000</td>
      <td>11.440000</td>
      <td>10.520000</td>
      <td>11.150000</td>
      <td>11.150000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2007-02-27</td>
      <td>20500.880859</td>
      <td>20500.880859</td>
      <td>20042.300781</td>
      <td>20147.869141</td>
      <td>20147.869141</td>
      <td>1.412426e+09</td>
      <td>12.120000</td>
      <td>19.010000</td>
      <td>12.100000</td>
      <td>18.309999</td>
      <td>18.309999</td>
      <td>0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2007-02-28</td>
      <td>19426.949219</td>
      <td>19749.589844</td>
      <td>19381.880859</td>
      <td>19651.509766</td>
      <td>19651.509766</td>
      <td>2.038333e+09</td>
      <td>17.209999</td>
      <td>17.290001</td>
      <td>14.500000</td>
      <td>15.420000</td>
      <td>15.420000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2007-03-01</td>
      <td>19581.859375</td>
      <td>19643.410156</td>
      <td>19346.599609</td>
      <td>19346.599609</td>
      <td>19346.599609</td>
      <td>1.474434e+09</td>
      <td>17.760000</td>
      <td>19.400000</td>
      <td>15.360000</td>
      <td>15.820000</td>
      <td>15.820000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2007-03-02</td>
      <td>19386.570313</td>
      <td>19560.519531</td>
      <td>19355.630859</td>
      <td>19442.009766</td>
      <td>19442.009766</td>
      <td>1.132375e+09</td>
      <td>16.700001</td>
      <td>18.629999</td>
      <td>16.040001</td>
      <td>18.610001</td>
      <td>18.610001</td>
      <td>0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2007-03-05</td>
      <td>19137.359375</td>
      <td>19164.349609</td>
      <td>18659.230469</td>
      <td>18664.880859</td>
      <td>18664.880859</td>
      <td>1.986021e+09</td>
      <td>20.400000</td>
      <td>20.410000</td>
      <td>18.129999</td>
      <td>19.629999</td>
      <td>19.629999</td>
      <td>0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2007-03-06</td>
      <td>18899.210938</td>
      <td>19080.339844</td>
      <td>18876.619141</td>
      <td>19058.560547</td>
      <td>19058.560547</td>
      <td>1.606526e+09</td>
      <td>18.309999</td>
      <td>18.340000</td>
      <td>15.760000</td>
      <td>15.960000</td>
      <td>15.960000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2007-03-07</td>
      <td>19188.220703</td>
      <td>19239.919922</td>
      <td>18910.240234</td>
      <td>18918.640625</td>
      <td>18918.640625</td>
      <td>1.453799e+09</td>
      <td>16.250000</td>
      <td>16.270000</td>
      <td>14.520000</td>
      <td>15.240000</td>
      <td>15.240000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2007-03-08</td>
      <td>18924.279297</td>
      <td>19191.099609</td>
      <td>18909.070313</td>
      <td>19175.169922</td>
      <td>19175.169922</td>
      <td>1.240696e+09</td>
      <td>14.340000</td>
      <td>14.700000</td>
      <td>13.480000</td>
      <td>14.290000</td>
      <td>14.290000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2007-03-09</td>
      <td>19259.099609</td>
      <td>19259.099609</td>
      <td>19065.029297</td>
      <td>19134.880859</td>
      <td>19134.880859</td>
      <td>1.765810e+09</td>
      <td>13.700000</td>
      <td>14.620000</td>
      <td>13.670000</td>
      <td>14.090000</td>
      <td>14.090000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2007-03-12</td>
      <td>19252.369141</td>
      <td>19470.369141</td>
      <td>19220.509766</td>
      <td>19442.419922</td>
      <td>19442.419922</td>
      <td>1.720489e+09</td>
      <td>14.960000</td>
      <td>14.960000</td>
      <td>13.760000</td>
      <td>13.990000</td>
      <td>13.990000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>14</th>
      <td>2007-03-13</td>
      <td>19397.039063</td>
      <td>19442.519531</td>
      <td>19251.199219</td>
      <td>19333.140625</td>
      <td>19333.140625</td>
      <td>1.336198e+09</td>
      <td>14.870000</td>
      <td>18.420000</td>
      <td>14.600000</td>
      <td>18.129999</td>
      <td>18.129999</td>
      <td>0</td>
    </tr>
    <tr>
      <th>15</th>
      <td>2007-03-14</td>
      <td>18803.070313</td>
      <td>18888.400391</td>
      <td>18738.509766</td>
      <td>18836.929688</td>
      <td>18836.929688</td>
      <td>2.054887e+09</td>
      <td>17.629999</td>
      <td>21.250000</td>
      <td>16.750000</td>
      <td>17.270000</td>
      <td>17.270000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2007-03-15</td>
      <td>19029.210938</td>
      <td>19054.939453</td>
      <td>18932.460938</td>
      <td>18969.439453</td>
      <td>18969.439453</td>
      <td>8.986914e+08</td>
      <td>16.910000</td>
      <td>16.910000</td>
      <td>15.270000</td>
      <td>16.430000</td>
      <td>16.430000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>17</th>
      <td>2007-03-16</td>
      <td>18846.490234</td>
      <td>19130.099609</td>
      <td>18770.279297</td>
      <td>18953.500000</td>
      <td>18953.500000</td>
      <td>0.000000e+00</td>
      <td>15.380000</td>
      <td>17.709999</td>
      <td>15.290000</td>
      <td>16.790001</td>
      <td>16.790001</td>
      <td>0</td>
    </tr>
    <tr>
      <th>18</th>
      <td>2007-03-19</td>
      <td>19006.150391</td>
      <td>19267.830078</td>
      <td>18967.410156</td>
      <td>19266.740234</td>
      <td>19266.740234</td>
      <td>1.292262e+09</td>
      <td>15.820000</td>
      <td>15.820000</td>
      <td>14.580000</td>
      <td>14.590000</td>
      <td>14.590000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>19</th>
      <td>2007-03-20</td>
      <td>19430.699219</td>
      <td>19463.900391</td>
      <td>19332.599609</td>
      <td>19356.900391</td>
      <td>19356.900391</td>
      <td>1.021294e+09</td>
      <td>15.010000</td>
      <td>15.160000</td>
      <td>13.250000</td>
      <td>13.270000</td>
      <td>13.270000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>20</th>
      <td>2007-03-21</td>
      <td>19380.980469</td>
      <td>19537.089844</td>
      <td>19270.720703</td>
      <td>19516.410156</td>
      <td>19516.410156</td>
      <td>9.778416e+08</td>
      <td>13.270000</td>
      <td>13.670000</td>
      <td>11.210000</td>
      <td>12.190000</td>
      <td>12.190000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>21</th>
      <td>2007-03-22</td>
      <td>19757.730469</td>
      <td>19813.210938</td>
      <td>19621.259766</td>
      <td>19690.250000</td>
      <td>19690.250000</td>
      <td>1.650391e+09</td>
      <td>12.290000</td>
      <td>12.950000</td>
      <td>12.040000</td>
      <td>12.930000</td>
      <td>12.930000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>22</th>
      <td>2007-03-23</td>
      <td>19665.050781</td>
      <td>19729.490234</td>
      <td>19634.109375</td>
      <td>19692.640625</td>
      <td>19692.640625</td>
      <td>1.073217e+09</td>
      <td>13.130000</td>
      <td>13.180000</td>
      <td>12.460000</td>
      <td>12.950000</td>
      <td>12.950000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>23</th>
      <td>2007-03-26</td>
      <td>19719.880859</td>
      <td>19819.039063</td>
      <td>19653.730469</td>
      <td>19765.849609</td>
      <td>19765.849609</td>
      <td>7.806447e+08</td>
      <td>13.390000</td>
      <td>14.700000</td>
      <td>12.910000</td>
      <td>13.160000</td>
      <td>13.160000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>24</th>
      <td>2007-03-27</td>
      <td>19749.810547</td>
      <td>19768.320313</td>
      <td>19661.859375</td>
      <td>19706.789063</td>
      <td>19706.789063</td>
      <td>9.202783e+08</td>
      <td>13.350000</td>
      <td>13.900000</td>
      <td>13.350000</td>
      <td>13.480000</td>
      <td>13.480000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>25</th>
      <td>2007-03-28</td>
      <td>19664.880859</td>
      <td>19729.310547</td>
      <td>19459.189453</td>
      <td>19553.869141</td>
      <td>19553.869141</td>
      <td>1.198489e+09</td>
      <td>14.280000</td>
      <td>15.510000</td>
      <td>14.220000</td>
      <td>14.980000</td>
      <td>14.980000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>26</th>
      <td>2007-03-29</td>
      <td>19470.419922</td>
      <td>19832.140625</td>
      <td>19460.359375</td>
      <td>19821.779297</td>
      <td>19821.779297</td>
      <td>1.914518e+09</td>
      <td>14.450000</td>
      <td>16.049999</td>
      <td>14.340000</td>
      <td>15.140000</td>
      <td>15.140000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>27</th>
      <td>2007-03-30</td>
      <td>19810.859375</td>
      <td>19880.259766</td>
      <td>19705.560547</td>
      <td>19800.929688</td>
      <td>19800.929688</td>
      <td>9.385955e+08</td>
      <td>14.940000</td>
      <td>15.820000</td>
      <td>14.140000</td>
      <td>14.640000</td>
      <td>14.640000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>28</th>
      <td>2007-04-02</td>
      <td>19900.009766</td>
      <td>19976.810547</td>
      <td>19672.939453</td>
      <td>19809.699219</td>
      <td>19809.699219</td>
      <td>8.484918e+08</td>
      <td>14.910000</td>
      <td>15.460000</td>
      <td>14.400000</td>
      <td>14.530000</td>
      <td>14.530000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>29</th>
      <td>2007-04-03</td>
      <td>19903.890625</td>
      <td>20021.029297</td>
      <td>19903.890625</td>
      <td>20002.699219</td>
      <td>20002.699219</td>
      <td>8.370202e+08</td>
      <td>14.020000</td>
      <td>14.060000</td>
      <td>12.810000</td>
      <td>13.460000</td>
      <td>13.460000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>2620</th>
      <td>2018-01-05</td>
      <td>30893.859375</td>
      <td>30911.009766</td>
      <td>30638.529297</td>
      <td>30814.640625</td>
      <td>30814.640625</td>
      <td>2.263930e+09</td>
      <td>9.100000</td>
      <td>9.540000</td>
      <td>9.000000</td>
      <td>9.220000</td>
      <td>9.220000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2621</th>
      <td>2018-01-08</td>
      <td>30895.089844</td>
      <td>30929.150391</td>
      <td>30732.539063</td>
      <td>30899.529297</td>
      <td>30899.529297</td>
      <td>2.004162e+09</td>
      <td>9.610000</td>
      <td>9.890000</td>
      <td>9.320000</td>
      <td>9.520000</td>
      <td>9.520000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2622</th>
      <td>2018-01-09</td>
      <td>30933.509766</td>
      <td>31056.699219</td>
      <td>30852.429688</td>
      <td>31011.410156</td>
      <td>31011.410156</td>
      <td>2.004941e+09</td>
      <td>9.410000</td>
      <td>10.090000</td>
      <td>9.370000</td>
      <td>10.080000</td>
      <td>10.080000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2623</th>
      <td>2018-01-10</td>
      <td>31009.240234</td>
      <td>31267.570313</td>
      <td>30928.580078</td>
      <td>31073.720703</td>
      <td>31073.720703</td>
      <td>2.595366e+09</td>
      <td>10.110000</td>
      <td>10.850000</td>
      <td>9.820000</td>
      <td>9.820000</td>
      <td>9.820000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2624</th>
      <td>2018-01-11</td>
      <td>31066.210938</td>
      <td>31133.179688</td>
      <td>30950.070313</td>
      <td>31120.390625</td>
      <td>31120.390625</td>
      <td>1.794779e+09</td>
      <td>9.690000</td>
      <td>10.020000</td>
      <td>9.620000</td>
      <td>9.880000</td>
      <td>9.880000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2625</th>
      <td>2018-01-12</td>
      <td>31298.050781</td>
      <td>31412.539063</td>
      <td>31198.359375</td>
      <td>31412.539063</td>
      <td>31412.539063</td>
      <td>2.327417e+09</td>
      <td>9.740000</td>
      <td>10.310000</td>
      <td>9.540000</td>
      <td>10.160000</td>
      <td>10.160000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2626</th>
      <td>2018-01-16</td>
      <td>31423.619141</td>
      <td>31904.750000</td>
      <td>31423.619141</td>
      <td>31904.750000</td>
      <td>31904.750000</td>
      <td>3.097059e+09</td>
      <td>10.420000</td>
      <td>12.410000</td>
      <td>10.400000</td>
      <td>11.660000</td>
      <td>11.660000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2627</th>
      <td>2018-01-17</td>
      <td>31825.519531</td>
      <td>31983.410156</td>
      <td>31642.269531</td>
      <td>31983.410156</td>
      <td>31983.410156</td>
      <td>3.999244e+09</td>
      <td>11.350000</td>
      <td>12.810000</td>
      <td>11.180000</td>
      <td>11.910000</td>
      <td>11.910000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2628</th>
      <td>2018-01-18</td>
      <td>32148.449219</td>
      <td>32233.810547</td>
      <td>31869.699219</td>
      <td>32121.939453</td>
      <td>32121.939453</td>
      <td>3.741500e+09</td>
      <td>12.010000</td>
      <td>12.400000</td>
      <td>11.620000</td>
      <td>12.220000</td>
      <td>12.220000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2629</th>
      <td>2018-01-19</td>
      <td>32142.160156</td>
      <td>32254.890625</td>
      <td>31986.000000</td>
      <td>32254.890625</td>
      <td>32254.890625</td>
      <td>2.906628e+09</td>
      <td>12.300000</td>
      <td>12.330000</td>
      <td>11.180000</td>
      <td>11.270000</td>
      <td>11.270000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2630</th>
      <td>2018-01-22</td>
      <td>32276.960938</td>
      <td>32417.230469</td>
      <td>32046.839844</td>
      <td>32393.410156</td>
      <td>32393.410156</td>
      <td>2.880231e+09</td>
      <td>11.590000</td>
      <td>11.620000</td>
      <td>10.840000</td>
      <td>11.030000</td>
      <td>11.030000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2631</th>
      <td>2018-01-23</td>
      <td>32606.140625</td>
      <td>32930.699219</td>
      <td>32554.230469</td>
      <td>32930.699219</td>
      <td>32930.699219</td>
      <td>3.954771e+09</td>
      <td>10.770000</td>
      <td>11.570000</td>
      <td>10.760000</td>
      <td>11.100000</td>
      <td>11.100000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2632</th>
      <td>2018-01-24</td>
      <td>32907.230469</td>
      <td>33018.710938</td>
      <td>32728.509766</td>
      <td>32958.691406</td>
      <td>32958.691406</td>
      <td>3.897512e+09</td>
      <td>11.000000</td>
      <td>12.190000</td>
      <td>10.890000</td>
      <td>11.470000</td>
      <td>11.470000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2633</th>
      <td>2018-01-25</td>
      <td>32979.378906</td>
      <td>32998.050781</td>
      <td>32650.220703</td>
      <td>32654.449219</td>
      <td>32654.449219</td>
      <td>3.554766e+09</td>
      <td>11.270000</td>
      <td>12.010000</td>
      <td>11.200000</td>
      <td>11.580000</td>
      <td>11.580000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2634</th>
      <td>2018-01-26</td>
      <td>32836.281250</td>
      <td>33223.578125</td>
      <td>32794.128906</td>
      <td>33154.121094</td>
      <td>33154.121094</td>
      <td>3.892652e+09</td>
      <td>11.400000</td>
      <td>11.600000</td>
      <td>11.080000</td>
      <td>11.080000</td>
      <td>11.080000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2635</th>
      <td>2018-01-29</td>
      <td>33335.480469</td>
      <td>33484.078125</td>
      <td>32897.039063</td>
      <td>32966.890625</td>
      <td>32966.890625</td>
      <td>3.605091e+09</td>
      <td>11.710000</td>
      <td>13.840000</td>
      <td>11.680000</td>
      <td>13.840000</td>
      <td>13.840000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2636</th>
      <td>2018-01-30</td>
      <td>32751.720703</td>
      <td>32976.750000</td>
      <td>32501.349609</td>
      <td>32607.289063</td>
      <td>32607.289063</td>
      <td>3.177122e+09</td>
      <td>13.930000</td>
      <td>15.420000</td>
      <td>13.880000</td>
      <td>14.790000</td>
      <td>14.790000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2637</th>
      <td>2018-01-31</td>
      <td>32435.759766</td>
      <td>32933.980469</td>
      <td>32330.390625</td>
      <td>32887.269531</td>
      <td>32887.269531</td>
      <td>3.314256e+09</td>
      <td>14.230000</td>
      <td>14.440000</td>
      <td>13.410000</td>
      <td>13.540000</td>
      <td>13.540000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2638</th>
      <td>2018-02-01</td>
      <td>32950.300781</td>
      <td>33048.039063</td>
      <td>32642.089844</td>
      <td>32642.089844</td>
      <td>32642.089844</td>
      <td>2.769125e+09</td>
      <td>13.050000</td>
      <td>14.300000</td>
      <td>12.500000</td>
      <td>13.470000</td>
      <td>13.470000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2639</th>
      <td>2018-02-02</td>
      <td>32569.009766</td>
      <td>32778.511719</td>
      <td>32321.419922</td>
      <td>32601.779297</td>
      <td>32601.779297</td>
      <td>2.571367e+09</td>
      <td>13.640000</td>
      <td>17.860001</td>
      <td>13.640000</td>
      <td>17.309999</td>
      <td>17.309999</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2640</th>
      <td>2018-02-05</td>
      <td>31715.560547</td>
      <td>32394.869141</td>
      <td>31712.019531</td>
      <td>32245.220703</td>
      <td>32245.220703</td>
      <td>3.135015e+09</td>
      <td>18.440001</td>
      <td>38.799999</td>
      <td>16.799999</td>
      <td>37.320000</td>
      <td>37.320000</td>
      <td>0</td>
    </tr>
    <tr>

In [87]:
data_M.columns

Index(['Date', 'Open_x', 'High_x', 'Low_x', 'Close_x', 'Adj Close_x',
       'Volume_x', 'Open_y', 'High_y', 'Low_y', 'Close_y', 'Adj Close_y',
       'Volume_y'],
      dtype='object')

In [88]:
b=data_M['Close_x'][0:11]
rt=b
T_B = pd.Series(np.zeros(1)).append(b[0:b.size-1],ignore_index=True)
DtF = [rt,T_B]
rt=pd.concat(DtF,axis=1)

In [89]:
T_B = pd.Series(np.zeros(2)).append(b[0:b.size-2],ignore_index=True)
DtF = [rt,T_B]
rt=pd.concat(DtF,axis=1)

In [90]:
b=data_M['Close_y'][0:11]
rt_y=b
T_B = pd.Series(np.zeros(1)).append(b[0:b.size-1],ignore_index=True)
DtF = [rt_y,T_B]
rt_y=pd.concat(DtF,axis=1)

In [91]:
T_B = pd.Series(np.zeros(2)).append(b[0:b.size-2],ignore_index=True)
DtF = [rt_y,T_B]
rt_y=pd.concat(DtF,axis=1)

In [94]:
rt_D=[rt,rt_y]
rt=pd.concat(rt_D,axis=1)

In [95]:
rt

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Close_x</th>
      <th>0</th>
      <th>0</th>
      <th>Close_y</th>
      <th>0</th>
      <th>0</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>20651.419922</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>10.200000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>20809.230469</td>
      <td>20651.419922</td>
      <td>0.000000</td>
      <td>10.180000</td>
      <td>10.200000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>20711.650391</td>
      <td>20809.230469</td>
      <td>20651.419922</td>
      <td>10.580000</td>
      <td>10.180000</td>
      <td>10.200000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>20507.949219</td>
      <td>20711.650391</td>
      <td>20809.230469</td>
      <td>11.150000</td>
      <td>10.580000</td>
      <td>10.180000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>20147.869141</td>
      <td>20507.949219</td>
      <td>20711.650391</td>
      <td>18.309999</td>
      <td>11.150000</td>
      <td>10.580000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>19651.509766</td>
      <td>20147.869141</td>
      <td>20507.949219</td>
      <td>15.420000</td>
      <td>18.309999</td>
      <td>11.150000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>19346.599609</td>
      <td>19651.509766</td>
      <td>20147.869141</td>
      <td>15.820000</td>
      <td>15.420000</td>
      <td>18.309999</td>
    </tr>
    <tr>
      <th>7</th>
      <td>19442.009766</td>
      <td>19346.599609</td>
      <td>19651.509766</td>
      <td>18.610001</td>
      <td>15.820000</td>
      <td>15.420000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>18664.880859</td>
      <td>19442.009766</td>
      <td>19346.599609</td>
      <td>19.629999</td>
      <td>18.610001</td>
      <td>15.820000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>19058.560547</td>
      <td>18664.880859</td>
      <td>19442.009766</td>
      <td>15.960000</td>
      <td>19.629999</td>
      <td>18.610001</td>
    </tr>
    <tr>
      <th>10</th>
      <td>18918.640625</td>
      <td>19058.560547</td>
      <td>18664.880859</td>
      <td>15.240000</td>
      <td>15.960000</td>
      <td>19.629999</td>
    </tr>
  </tbody>
</table>
</div>